@import "index.css";
@import "create.css";
@import "edit.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a:visited {
  color: white;
}

a {
  text-decoration: none;
}