@import "header.css";
@import "section_1.css";
@import "section_2.css";
@import "section_3.css";
@import "footer.css";

@media only screen and (min-width: 769px) {
    body{
        margin: 0;
    }
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
  }